@import 'variables';
@import 'mixins';
@import 'main';
@import "header";
@import "footer";

img {
  filter: drop-shadow(0px 0px 100px rgba(68, 68, 72, 0.5));
  border-radius: 5px;
}

.header-black {
  color: #000;
}
.start {
  h1 {
    @extend %h1-pages;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .img-block {
      flex-basis: 50%;
      @media (max-width: 1200px) {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 30px;
      }
    }
    .text-block {
      flex-basis: 50%;
      @media (max-width: 1200px) {
        flex-basis: 100%;
      }
      p {
        @extend %text-about;
        margin-bottom: 42px;
      }
      .uppercase {
        text-transform: uppercase;
        font-family: $font-titles;
        font-size: 28px;
        margin-bottom: 0;
      }
    }
  }
}
.heroes {
  @extend %bg-blue-lil;
  padding-top: 200px;
  padding-bottom: 150px;
  @media (max-width: 1000px) {
    padding-top: 120px;
    padding-bottom: 90px;
  }
  .boss-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    @media (max-width: 1000px) {
      flex-direction: column-reverse;
      margin-bottom: 60px;
    }
    &__text {
      flex-basis: 50%;
      @extend %text-about-white;
    }
    &__img {
      @media (max-width: 1000px) {
        margin-bottom: 30px;
      }
    }
  }
  .coworkers {
    .coworker {
      display: flex;
      justify-content: space-between;
      margin-bottom: 115px;
      @media (max-width: 1000px) {
        flex-direction: column-reverse;
        margin-bottom: 80px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &__img {
        flex-basis: 50%;
      }
      &__text {
        flex-basis: 50%;
        @media (max-width: 1000px) {
          margin-bottom: 30px;
        }
        h2 {
          font-family: $font-titles;
          font-weight: normal;
          font-size: 56px;
          line-height: 60px;
          color: #FFFFFF;
          margin-bottom: 105px;
          @media (max-width: 1000px) {
            margin-bottom: 30px;
          }
        }
        p {
          @extend %text-about-white;
        }
      }
    }
  }
}

.cars {
  padding-top: 90px;
  &__title {
    @extend %h2-black;
    margin-bottom: 50px;
    @media (max-width: 767px) {
      font-size: 30px;
      line-height: 50px;
    }
  }
  &__text {
    font-family: $font-titles;
    font-weight: normal;
    font-size: 56px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 70px;
    @media (max-width: 767px) {
      font-size: 40px;
      line-height: 40px;
    }
  }
  &__images {
    padding-bottom: 150px;
    width: 80%;
    margin: 0 auto;
    .popup-gallery {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-auto-rows: repeat(2, 1fr);
      grid-gap: 20px;
      .popup-img {
        filter: drop-shadow(0px 0px 100px rgba(158, 158, 188, 0.5));
      }
      .popup-img:nth-child(1) {
        grid-column: span 3;
      }
      .popup-img:nth-child(2) {
        grid-column: span 3;
      }
      .popup-img:nth-child(3) {
        grid-column: span 2;
      }
      .popup-img:nth-child(4) {
        grid-column: span 2;
      }
      .popup-img:nth-child(5) {
        grid-column: span 2;
      }
    }
  }
}