@charset "UTF-8";
/* vars */
/* vars */
/* mixins */
.jobs-title {
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 72px;
  text-align: center;
  color: #000000;
}

.jobs-title {
  padding-top: 170px;
  margin-bottom: 100px;
}
@media (max-width: 1200px) {
  .jobs-title {
    font-size: 50px;
    line-height: 45px;
    margin-bottom: 50px;
  }
}

.footer-top .footer-contacts__btn:hover {
  background-color: #B4962F;
  -webkit-box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  -webkit-transform: translateY(-7px);
  -ms-transform: translateY(-7px);
  transform: translateY(-7px);
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Inter, arial;
}

body {
  background-color: #E5E5E5;
  min-width: 360px;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 1500px;
  margin-inline: auto;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #525291;
  opacity: 0.9;
}

.header-bg {
  background-color: #525291;
  opacity: 0.9;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
}

.header__logo {
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.header__burger {
  display: none;
}

.header__list {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}

.header__link {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.2s;
}
.header__link:hover {
  text-decoration: underline;
}

@media (max-width: 1382px) {
  .header__icon {
    display: none;
  }
}
@media (max-width: 1330px) {
  .header__tel {
    display: none;
  }
}
@media (max-width: 1120px) {
  .header__list li {
    margin: 0px 0px 0px 10px;
  }

  .header__link {
    font-size: 14px;
  }
}
@media (max-width: 880px) {
  .header__list li {
    margin: 0px 0px 0px 5px;
  }

  .header__link {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .header__body {
    height: 50px;
  }
}
@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__logo {
    flex: 0 0 40px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: #5e5373;
    padding: 70px 10px 20px 10px;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0px 0px 20px 0px;
  }

  .header__link {
    font-size: 24px;
  }
}
/* vars */
/* vars */
/* mixins */
.jobs-title {
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 72px;
  text-align: center;
  color: #000000;
}

.jobs-title {
  padding-top: 170px;
  margin-bottom: 100px;
}
@media (max-width: 1200px) {
  .jobs-title {
    font-size: 50px;
    line-height: 45px;
    margin-bottom: 50px;
  }
}

.footer-top .footer-contacts__btn:hover {
  background-color: #B4962F;
  -webkit-box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  -webkit-transform: translateY(-7px);
  -ms-transform: translateY(-7px);
  transform: translateY(-7px);
}

.contacts h2 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 66px;
  line-height: 72px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
}
.contacts .contacts__wrapper {
  position: relative;
}
.contacts .contacts__wrapper .card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  width: 25%;
  border: 2px solid #5e5373;
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.contacts .contacts__wrapper .card:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.contacts .contacts__wrapper .card__wrapper {
  margin: 0 auto;
}
.contacts .contacts__wrapper .card__wrapper h3 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 30px;
}
.contacts .contacts__wrapper .card__wrapper .card__text {
  font-family: "Open Sans Condensed", sans-serif;
  margin-bottom: 15px;
  font-size: 18px;
}
.contacts .contacts__wrapper .card__wrapper .card__social {
  display: flex;
  align-items: center;
  margin: -5px;
}
.contacts .contacts__wrapper .card__wrapper .card__social::before {
  font-family: "Open Sans Condensed", sans-serif;
  content: "Напишите нам:";
  margin-right: 5px;
}
.contacts .contacts__wrapper .card__wrapper .card__social li {
  padding: 5px;
}
@media (max-width: 1220px) {
  .contacts .contacts__wrapper .card {
    width: 35%;
  }
  .contacts .contacts__wrapper .card h3 {
    font-size: 30px;
  }
}
@media (max-width: 925px) {
  .contacts .contacts__wrapper .card {
    width: 45%;
  }
}
@media (max-width: 670px) {
  .contacts .contacts__wrapper .card {
    width: 55%;
  }
}
@media (max-width: 550px) {
  .contacts .contacts__wrapper .card {
    width: 70%;
  }
  .contacts .contacts__wrapper .card h3 {
    font-size: 25px;
    line-height: 30px;
  }
}
@media (max-width: 400px) {
  .contacts .contacts__wrapper .card {
    width: 80%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.footer {
  background-color: #525291;
  color: #fff;
  padding-top: 45px;
  padding-bottom: 45px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.footer-top .footer-name__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
.footer-top .footer-name__text:first-child {
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  margin-bottom: 6px;
}
.footer-top .footer-work__text {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 18px;
  line-height: 30px;
}
.footer-top .footer-work__text:first-child {
  font-family: "Gilroy-Bold", sans-serif;
  margin-bottom: 7px;
}
@media (max-width: 481px) {
  .footer-top .footer-work {
    margin-top: 25px;
  }
}
.footer-top .footer-contacts {
  text-align: right;
  font-family: "Gilroy-Medium", sans-serif;
}
.footer-top .footer-contacts__text {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 14px;
}
.footer-top .footer-contacts__btn {
  margin-top: 30px;
  max-width: 360px;
  color: #000000;
  font-size: 16px;
  text-shadow: 0px 0px 0px #000000;
  box-shadow: 1px 1px 1px #FFD237;
  padding: 25px 35px;
  border-radius: 5px;
  border: 2px solid #FFD237;
  background: #FFD237;
  background: linear-gradient(180deg, #FFD237 0%, #B4962F 100%);
  transition: all 0.2s;
}
.footer-top .footer-contacts__btn p {
  color: #000;
  text-align: center;
}
@media (max-width: 789px) {
  .footer-top .footer-contacts {
    text-align: left;
  }
}
@media (max-width: 481px) {
  .footer-top .footer-contacts {
    margin-top: 25px;
  }
}
.footer-bottom {
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 14px;
  line-height: 50px;
}
.footer-bottom__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-bottom__copyright {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

img {
  filter: drop-shadow(0 0 100px rgba(68, 68, 72, 0.5));
  border-radius: 5px;
}

.accordion {
  padding-bottom: 100px;
}
.accordion .block {
  margin: 0 0 30px 0;
}
.accordion .block__item {
  margin: 0 0 10px 0;
}
.accordion .block__item .block__title {
  width: 100%;
  text-align: left;
  font-size: 18px;
  background-color: transparent;
  color: #fff;
  padding: 10px;
  position: relative;
  background-color: #7E7EDA;
}
.accordion .block__item .block__text {
  padding: 40px 30px 50px;
  line-height: 130%;
}
.accordion .block__item .block__text p {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 15px;
}
.accordion .block__item .block__text ul {
  margin-bottom: 20px;
  padding-left: 40px;
}
.accordion .block__item .block__text ul li {
  list-style-type: circle;
}
.accordion .block._init .block__title {
  cursor: pointer;
}
.accordion .block._init .block__title {
  padding: 10px 40px 10px 10px;
}
.accordion .block._init .block__title::before,
.accordion .block._init .block__title::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  right: 10px;
  top: 20px;
  transition: transform 0.3s ease 0s;
}
.accordion .block._init .block__title::after {
  transform: rotate(-90deg);
}
.accordion .block._init .block__title._active::after {
  transform: rotate(0deg);
}
.accordion .form__block {
  margin: 0 auto;
  padding-top: 40px;
  width: 80%;
}
.accordion .form__block input {
  margin-right: 30px;
  width: calc(100%/3);
  padding-top: 30px;
  padding-left: 35px;
  padding-bottom: 30px;
  border: 1px solid #525291;
  border-radius: 5px;
}
@media (max-width: 930px) {
  .accordion .form__block input {
    width: 90%;
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.accordion .form__block button {
  width: 25%;
  background: linear-gradient(180deg, #FFD237 0%, #B4962F 100%);
  border-radius: 5px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 600;
}
@media (max-width: 930px) {
  .accordion .form__block button {
    width: 90%;
  }
}/*# sourceMappingURL=jobs.css.map */